/* Common */
:root{
    --nero-100: rgba(0, 0, 0, 1);
    --black-opacity: rgba(0, 0, 0, 0.5);
    --deep-blue: rgba(20, 25, 34, 1);
    --dark-grey: rgba(40, 40, 40, 1);
    --text-white: rgba(255, 255, 255, 1);
    --text-grey: rgba(113, 113, 113, 1);
    --lime-green: rgba(173, 255, 47, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-white);
}

.debug{
    border: 1px solid black;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--nero-100);
}

.text-uppercase{
    text-transform: uppercase;
}
.bold{
    font-weight: bold;
}

.txt-small{
    font-size: 0.8rem;
}

.txt-big{
    font-size: 1.7rem;
    margin-left: 0.6em;
}

.line-height{
    line-height: 3em;
}

.margin-left{
    margin: 1em 0 0 1em;
}

.recent-played, .create, .artists{
    padding: 50px 30px;   
}

.txt-white{
    color: var(--text-white);
}

.txt-grey{
    color: var(--text-grey);
}

.none{
    display: none;
}

.circle{
    border-radius: 50%;
    overflow: hidden;
}

.pad-top{
    padding-top: 1em;
}


/* Main section */
main{
    width: 100%;
    height: calc(100vh - 95px);
    display: flex; 
}


.main-content{
    width: calc(100% - 230px);
    height: 100%;
    background-image: linear-gradient(rgb(10, 121, 10),rgba(255,0,0,0));
}

.inner-content{
    height: 100%;
    overflow-y: auto;
}



/* ASIDE */
aside{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 230px);
    height: 95px;
    background-color: rgba(0, 0, 0, 0.281);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.upgrade{
    border: 1px solid var(--text-white);
    color: var(--text-white);
    border-radius: 30px;
    margin-right: 2em;
    text-decoration: none;
    text-align: center;
    padding: 1em 3em;
    cursor: pointer;
}

.upgrade:hover{
    cursor: pointer;
    color: var(--lime-green);
    transform: scale(1.1);
    transition: 1s;
}




/* Contenitore principale */
.link{
    display: flex;
    display: wrap;
    justify-content: center;
    margin-top: 110px;
}

.link li{
    display: flex;

}
.link ul{
    display: flex;
    flex-flow: wrap;
    list-style: none;
}

.link a{
    text-decoration: none;
    color: grey;
    padding-right: 1.3em;
}

.link a.active:after {
    content: '';
    display: block;
    background-color: var(--lime-green);
    width: 50%;
    height: 2px;
    margin: 5px auto;
}

.link ul li a:hover:after{
    content: "";
    display: block;
    background-color: var(--lime-green);
    width: 50%;
    height: 2px;
    margin: 5px auto;
}

.link a:hover{
    color: var(--text-white);
}




/* Recently played */

.cards{
    display: flex;
    margin-top: 2em;
}

.cards img{
    width: 100%;
    display: block;
}

.cards-image{
    position: relative;
}

.card:hover .cards-overlay{
    display: flex;
}

.cards-overlay{
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--black-opacity);
    font-size: 3rem;
    color: var(--lime-green);
    display: none;
}

.card{
    text-align: center;
    width: calc((100% / 6) - 2em);
    margin: 1em;
    cursor: pointer;
}

.card .txt-medium{
    padding: 1em 0;
}


/* NAV LATERALE */
nav{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow: hidden;
    width: 230px;   
    background-color: var(--nero-100);
    color: var(--text-grey);
}

.nav-top, .playlist, .nav-bot{
    padding: 1.5em;
}

nav .menu{
    display: flex;
    align-items: center;
    padding-top: 0.8em;
}

.logo{
    width: 70%;
    padding-bottom: 1em;
}

.menu img{
    width: 20px;
    filter: contrast(0);
}

.menu:hover{
    color: var(--text-white);
    cursor: pointer;
}

.menu:hover img{
    filter: contrast(1);
}

.fa-plus{
    background-color: var(--text-grey);
    color: var(--nero-100);
    padding: 0.6em;
}

.create-playlist{
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.create-playlist:hover{
    cursor: pointer;
    color: var(--text-white);
}

.playlist{
    display: flex;
    flex-flow: column;
    overflow-y: hidden;
}

.nome-playlist{
    overflow-y: auto;
}

.nome-playlist li{
    list-style: none;
    padding: 0.5em 0;
}

.nome-playlist li:hover{
    cursor: pointer;
    color: var(--text-white);
}

.nav-bot{
    bottom: 0;
    width: 100%;
    background-color: var(--nero-100);
}

.nav-bot hr{
    width: 90%;
    text-align: center;
}

.install{
    display: flex;
    padding-bottom: 1em;
}

.install i{
    padding-right: 1em;
}

.install:hover{
    cursor: pointer;
    color: var(--text-white);
}
.profile{
    padding-top: 1em;
    display: flex;
    align-items: center;
}
.profile:hover{
    cursor: pointer;
}
.profile svg{
    width: 25px;
    height: 25px;
    margin-right: 1em;
    background-color: var(--text-grey);
    border-radius: 50%;
    object-fit: cover;
}




/* PLAY-BAR */
.playbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 95px;
    background-color: var(--dark-grey);
    position: fixed;
    bottom: 0;
    z-index: 2000;
    padding: 1em;
}

.playbar img{
    max-width: 60px;
}

.playbar-left{
    display: flex;
    align-items: center;
}

.text{
    padding-left: 0.7em;
}

.playbar-left:hover{
    cursor: pointer;
}

.playbar-left .text:hover{
    text-decoration: underline;
}

.playbar .icons{
    padding: 0 3em ;
}

.fa-heart{
    padding-right: 1em;
}

.playbar .fa-heart:hover{
    cursor: pointer;
    color: var(--lime-green);
}

.playbar .fa-folder:hover{
    cursor: pointer;
    color: var(--lime-green);
}

.media-icons{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.media-icons i:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.media-icons .fa-circle-play:hover{
    transform: scale(1.4);
    color: var(--lime-green);
}

.playbar-center i{
    padding: 0.3em 1em 0 0;
    font-size: 1.5em;
}

.media-player{
    display: flex;
    align-items: center;
}

.progress-bar{
    height: 4px;
    background-color: var(--text-grey);
    width: 350px;
    border-radius: 10px;
    margin: 1em;
    cursor: pointer;
}

.progress-bar.overlay {
    height: 4px;
    background-color: var(--text-white);
    border-radius: 10px;
    width: 20%;
    margin:0;
}

.playbar-right{
    display: flex;
    align-items: center;
}

.play-right i{
    padding-left: 1em;
}

.play-right i:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.volume-bar {
    height: 4px;
    background-color: var(--text-grey);
    width: 80px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.volume-bar.overlay {
    height: 4px;
    background-color: var(--text-white);
    border-radius: 10px;
    width: 20%;
}







/* ###############################
            RESPONSIVE 
    ############################# */


@media screen and (max-width: 1100px){
    .card{
        width: calc((100% / 4) - 2em);
    }

    .cards{
        flex-flow: wrap;
    }

    .link ul{
        justify-content: center;
    }
}

@media screen and (max-width: 800px){
    .card{
        width: calc((100% / 2) - 2em);
    }
}

@media screen and (max-width: 600px){
    .card{
        width: calc((100% / 1) - 2em);
    }

    .none{
        display: block;
        padding: 0.5em 0;
        width: 1.5em;
    }

    .playlist, .logo{
        display: none;
    }

    nav .menu{
        display: none;
    }

    .logo-small{
        width: 25%;
    }

    .fa-house, .fa-magnifying-glass {
        font-size:1.5em;
    }
}

